

.container{
    border-right: 2px solid;
    padding: 10px;
    .stats{
        padding-top: 20px;
        .male{
            .square{
                height: 20px;
                width: 20px;
                background-color: blue;
                margin-right: 5px;
            }
        }
        .female{
            .square{
                height: 20px;
                width: 20px;
                background-color: pink;
                margin-right: 5px;
            }
        }
    }
}